.main {
  min-height: 90vw;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.not-found {
  color: red !important;
}
h1 {
  font-size: 25px;
}
#light h1, #light h2{
  color: darkblue;
}
#dark h1, #dark h2 {
  color: antiquewhite;
}
#light {
  background-color: #f3ebf6;
}
#dark {
  background-color: #2c2a2c;
}
#light .underline {
  border-bottom: solid black;
}
#dark .underline {
  border-bottom: solid #f3ebf6;
}
.align {
  align-items: center;
}
.switch {
  display: flex;
  width: auto;
  height: 60px;
  align-items: center;
  padding-right: 1rem;
}

.switch label {
  margin: 10px;
  padding: 5px 0;
}
.nav-button {
  text-align: center;
  width: auto;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 1rem;
}
#dark .nav-button {
  background-color: black;
  color:antiquewhite;
}
#light .nav-button {
  background-color: #f3ebf6;
  color: darkblue;
}
.body-button {
  text-align: center;
  width: auto;
  padding: 0 1rem;
  border-radius: 15px;
  margin-right: 10px;
}

#dark .body-button {
  background-color: black;
  color: antiquewhite;
}

#light .body-button {
  background-color: #f3ebf6;
  color: darkblue;
}
#light .switch label {
  color: darkblue;
}

#dark .switch label {
  color: antiquewhite;
}
a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  text-decoration: none;
}
#dark a {
  color: antiquewhite;
  background-color: black;
}
#light a {
  color: darkblue;
  background-color: #f3ebf6;
}
.card-container {
  justify-content: center;
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
#dark .my-border {
  border: 2px solid;
  border-color: #f3ebf6;
}
#light .my-border {
  border: 2px solid;
  border-color:  black;
}
#dark .card{
  background-color: #2c2a2c;
}
#dark .card-header, #dark .card-footer {
  color: aqua;
}
#dark .card-body {
  color: antiquewhite;
}
#light .card {
  background-color: #f3ebf6;
}